<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		id="WebApp_ID" version="3.0">
  <display-name>WebTest</display-name>
  <filter>
	  <filter-name>struts2</filter-name>
	  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
      <filter-mapping>
			<filter-name>struts2</filter-name>
			<url-pattern>/*</url-pattern>
	  </filter-mapping>
   <filter>
  	<filter-name>CharsetFilter</filter-name>
  	<filter-class>com.flashvocabulary.web.filter.CharsetFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharsetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
  	<filter-name>HTMLFilter</filter-name>
  	<filter-class>com.flashvocabulary.web.filter.HTMLFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>HTMLFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.flashvocabulary.web.UserLoginServlet</servlet-class>
  </servlet> 
   <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.flashvocabulary.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>com.flashvocabulary.web.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/SearchResultServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserCollectServlet</servlet-name>
    <servlet-class>com.flashvocabulary.web.UserCollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCollectServlet</servlet-name>
    <url-pattern>/UserCollectServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetTodayWordServlet</servlet-name>
    <servlet-class>com.flashvocabulary.web.GetTodayWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTodayWordServlet</servlet-name>
    <url-pattern>/GetTodayWordServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>servlettest</servlet-name>
    <servlet-class>com.flashvocabulary.test.servlettest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlettest</servlet-name>
    <url-pattern>/servlettest</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>userLogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>